 <!-- header (hidden style) -->
    <header style="background-color: #1a263a " class="header header--hidden">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div style="height: 110px" class="header__content">
                        <button class="header__menu" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                        <a href="~/Customer/CustomerGame/HomePage" class="header__logo">
                            <img src="~/Assets/main/img/Paizo_logo.svg" alt="Movies & TV Shows, Online cinema HTML Template">
                        </a>

                        <ul class="header__nav">
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="~/Customer/CustomerGame/HomePage" role="button" aria-haspopup="true" aria-expanded="false">Home <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.93893 3.30334C1.08141 3.30334 0.384766 2.60669 0.384766 1.75047C0.384766 0.894254 1.08141 0.196308 1.93893 0.196308C2.79644 0.196308 3.49309 0.894254 3.49309 1.75047C3.49309 2.60669 2.79644 3.30334 1.93893 3.30334Z" /></svg></a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="~/Customer/CustomerGame/ShowAllGames" role="button" aria-haspopup="true" aria-expanded="false">Games <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.93893 3.30334C1.08141 3.30334 0.384766 2.60669 0.384766 1.75047C0.384766 0.894254 1.08141 0.196308 1.93893 0.196308C2.79644 0.196308 3.49309 0.894254 3.49309 1.75047C3.49309 2.60669 2.79644 3.30334 1.93893 3.30334Z" /></svg></a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="~/Admin/AdminGames/Index" role="button" aria-haspopup="true" aria-expanded="false">Go to admin <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.93893 3.30334C1.08141 3.30334 0.384766 2.60669 0.384766 1.75047C0.384766 0.894254 1.08141 0.196308 1.93893 0.196308C2.79644 0.196308 3.49309 0.894254 3.49309 1.75047C3.49309 2.60669 2.79644 3.30334 1.93893 3.30334Z" /></svg></a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="/Index" role="button" aria-haspopup="true" aria-expanded="false"><span>Cart</span>  <span style="margin-left:5px;background-color:gray;width:20px;height:20px;text-align:center;border-radius:50px;" id="CartNumber"></span>     <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.93893 3.30334C1.08141 3.30334 0.384766 2.60669 0.384766 1.75047C0.384766 0.894254 1.08141 0.196308 1.93893 0.196308C2.79644 0.196308 3.49309 0.894254 3.49309 1.75047C3.49309 2.60669 2.79644 3.30334 1.93893 3.30334Z" /></svg></a>
                            </li>
                        </ul>
                        <div class="header__actions">
                            <form style="background-color: #1a263a " action="#" class="header__form">
                            </form>
                        </div>
                        <a href="~/Assets/admin/signin.html" class="header__user">
                            <span>Sign in</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,12a1,1,0,0,0-1-1H11.41l2.3-2.29a1,1,0,1,0-1.42-1.42l-4,4a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l4,4a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L11.41,13H19A1,1,0,0,0,20,12ZM17,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V16a1,1,0,0,0-2,0v3a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V8a1,1,0,0,0,2,0V5A3,3,0,0,0,17,2Z" /></svg>
                        </a>
                        <a href="~/Assets/admin/signup.html" class="header__user">
                            <span>Sign up</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,12a1,1,0,0,0-1-1H11.41l2.3-2.29a1,1,0,1,0-1.42-1.42l-4,4a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l4,4a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L11.41,13H19A1,1,0,0,0,20,12ZM17,2H7A3,3,0,0,0,4,5V19a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V16a1,1,0,0,0-2,0v3a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V8a1,1,0,0,0,2,0V5A3,3,0,0,0,17,2Z" /></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
