 <!-- header (hidden style) -->
<header style="background-color: #1a263a " class="header header--hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="height: 110px" class="header__content">
                    <button class="header__menu" type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <a href="~/Customer/CustomerGame/HomePage" class="header__logo">
                        <img src="~/Assets/main/img/Paizo_logo.svg" alt="Movies & TV Shows, Online cinema HTML Template">
                    </a>

                    <div style="color:white" class="sidebar__user-title">
                        <span>Admin</span>                        
                    </div>

                    <ul class="header__nav">
                        <li class="header__nav-item">
                            <a class="header__nav-link" href="~/Customer/CustomerGame/HomePage" role="button" aria-haspopup="true" aria-expanded="false">Home <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.93893 3.30334C1.08141 3.30334 0.384766 2.60669 0.384766 1.75047C0.384766 0.894254 1.08141 0.196308 1.93893 0.196308C2.79644 0.196308 3.49309 0.894254 3.49309 1.75047C3.49309 2.60669 2.79644 3.30334 1.93893 3.30334Z" /></svg></a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-link" href="~/Customer/CustomerGame/ShowAllGames" role="button" aria-haspopup="true" aria-expanded="false">Games <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.93893 3.30334C1.08141 3.30334 0.384766 2.60669 0.384766 1.75047C0.384766 0.894254 1.08141 0.196308 1.93893 0.196308C2.79644 0.196308 3.49309 0.894254 3.49309 1.75047C3.49309 2.60669 2.79644 3.30334 1.93893 3.30334Z" /></svg></a>

                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-link" href="~/Customer/CustomerGame/HomePage" role="button" aria-haspopup="true" aria-expanded="false">Go to customer <svg width="4" height="4" viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.93893 3.30334C1.08141 3.30334 0.384766 2.60669 0.384766 1.75047C0.384766 0.894254 1.08141 0.196308 1.93893 0.196308C2.79644 0.196308 3.49309 0.894254 3.49309 1.75047C3.49309 2.60669 2.79644 3.30334 1.93893 3.30334Z" /></svg></a>
                        </li>
                    </ul>

                    <div class="header__actions">
                        <form style="background-color: #1a263a " action="#" class="header__form">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
