<!DOCTYPE html>

<html>
<head>
    @Html.Partial("~/Areas/Admin/Views/Shared/AdminComponents/_AdminMetaHeader.cshtml")
</head>
<body>
    <div style="height:150px;"></div>
    <!-- header  -->
    @Html.Partial("~/Areas/Admin/Views/Shared/AdminComponents/_AdminHeader.cshtml")
    <!-- end header -->
    <!-- BODY  -->
    @RenderBody()
    <!-- END BODY  -->
    <!-- JS -->
    @Html.Partial("~/Areas/Admin/Views/Shared/AdminComponents/_AdminJsLibraries.cshtml")
    <!-- End JS -->
    
</body>
</html>
