<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS -->
<link rel="stylesheet" href="~Assets/admin/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="~Assets/admin/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="~Assets/admin/css/magnific-popup.css">
<link rel="stylesheet" href="~Assets/admin/css/select2.min.css">
<link rel="stylesheet" href="~Assets/admin/css/admin.css">

<!-- Favicons -->
<link rel="icon" type="image/png" href="~Assets/admin/icon/favicon-32x32.png" sizes="32x32">
<link rel="apple-touch-icon" href="~Assets/admin/icon/favicon-32x32.png">

<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="Dmitry Volkov">
<title>FlixTV – Movies & TV Shows, Online cinema HTML Template</title>
